/* @font-face {
  font-family: Candyhome;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */
@font-face {
  font-family: ZhuZiAYuanJWD;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  font-weight: lighter;
}

div#menus {
  font-family: "ZhuZiAYuanJWD";
}
h1#site-title {
  font-family: ZhuZiAYuanJWD;
  font-size: 3em !important;
}
a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-family: ZhuZiAYuanJWD;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 3em;
  /* 可以定义图标大小 */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 时间轴生肖icon */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-zhongbiao::before {
  color: #f7c768;
}


/* 解决artitalk的图标问题 */
#uploadSource > svg {
  width: 1.19em;
  height: 1.5em;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header:not(.not-top-img):before {
  background-color: transparent !important;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, 0.9);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: rgba(255, 255, 255, 0.9);
}

/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.9);
}

/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.9);
}

/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.9);
}

/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.9);
}

/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.9);
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #recent-posts > .recent-post-item {
  background: #121212;
}

[data-theme="dark"] .card-widget {
  background: #121212 !important;
}

[data-theme="dark"] div#post {
  background: #121212 !important;
}

[data-theme="dark"] div#tag {
  background: #121212 !important;
}

[data-theme="dark"] div#archive {
  background: #121212 !important;
}

[data-theme="dark"] div#page {
  background: #121212 !important;
}

[data-theme="dark"] div#category {
  background: #121212 !important;
}

[data-theme="dark"] div#category {
  background: transparent !important;
}
/* 页脚透明 */
#footer {
  background: transparent !important;
}

/* 头图透明 */
#page-header {
  background: transparent !important;
}

#rightside > div > button {
  border-radius: 5px;
}

/* 滚动条 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b70fc;
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #3b70fc;
}

/* 音乐播放器 */

/* .aplayer .aplayer-lrc {
  display: none !important;
} */

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  transition: all 0.3s;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  transition: all 0.3s;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.aplayer.aplayer-fixed {
  z-index: 999999 !important;
}

/* 评论框  */
.vwrap {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 30px 0px;
}

/* 设置评论框 */

.vcard {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 0px 0px;
}

/* md网站下划线 */
#article-container a:hover {
  text-decoration: none !important;
}

#article-container #hpp_talk p img {
  display: inline;
}

/* 404页面 */
#error-wrap {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
  transform: translate(0, -50%);
}

#error-wrap .error-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 18rem;
  border-radius: 8px;
  background: var(--card-bg);
  box-shadow: var(--card-box-shadow);
  transition: all 0.3s;
}

#error-wrap .error-content .error-img {
  box-flex: 1;
  flex: 1;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #3b70fc;
  background-position: center;
  background-size: cover;
}

#error-wrap .error-content .error-info {
  box-flex: 1;
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px;
  font-family: Titillium Web, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
}
#error-wrap .error-content .error-info .error_title {
  margin-top: -4rem;
  font-size: 9em;
}
#error-wrap .error-content .error-info .error_subtitle {
  margin-top: -3.5rem;
  word-break: break-word;
  font-size: 1.6em;
}
#error-wrap .error-content .error-info a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem 1.5rem;
  background: var(--btn-bg);
  color: var(--btn-color);
}

#body-wrap.error .aside-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0px;
  position: absolute;
  padding: 1rem;
  width: 100%;
  overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
  padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
  overflow: hidden;
  width: 230px;
  height: 143px;
  background: var(--anzhiyu-card-bg);
  display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: 0.5rem;
  color: white;
}

#body-wrap.error .aside-list .aside-list-item .content time {
  display: none;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;

}

.loading-img {
  background: url(https://www.helloimg.com/i/2024/11/09/672f8190562c8.png) no-repeat center center;
  background-size: cover;
}

/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
-webkit-animation: ccc 1.6s linear infinite ;
animation: ccc 1.6s linear infinite ;
}
@-webkit-keyframes ccc {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}
to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
}
}
@keyframes ccc {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}
to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
}
}
#content-inner.layout h1::before {
color: #ef50a8 ;
font-size: 1.3rem;
margin-top: -0.23rem;
}
#content-inner.layout h2::before {
color: #fb7061 ;
font-size: 1.1rem;
margin-top: -0.12rem;
}
#content-inner.layout h3::before {
color: #ffbf00 ;
font-size: 0.95rem;
margin-top: -0.09rem;
}
#content-inner.layout h4::before {
color: #a9e000 ;
font-size: 0.8rem;
margin-top: -0.09rem;
}
#content-inner.layout h5::before {
color: #57c850 ;
font-size: 0.7rem;
margin-top: 0.0rem;
}
#content-inner.layout h6::before {
color: #5ec1e0 ;
font-size: 0.66rem;
margin-top: 0.0rem;
}
/* 翻页按钮居中 */
#pagination {
width: 100%;
margin: auto;
}

/* 侧栏归档样式start */
span.card-archive-list-count {
width: auto;
text-align: left;
font-size: 1.5rem;
line-height: 0.9;
font-weight: 700;
}
.card-archive-list-count-group {
display: flex;
flex-direction: row;
align-items: baseline;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:last-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:last-child {
width: fit-content;
margin-left: 4px;
}
span.card-archive-list-count {
width: auto;
text-align: left;
font-size: 1.1rem;
line-height: 0.9;
font-weight: 700;
}
.card-archive-list-date {
font-size: 14px;
opacity: 0.6;
}
li.card-category-list-item {
flex: 0 0 31%;
}
li.card-archive-list-item {
flex: 0 0 48%;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover {
color: #000;
background-color: #89CFF0;
box-shadow: 0 8px 12px -3px #4259ef23;
border-radius: 8px;
padding-left: 0.5rem;
padding-right: 0.5rem;
}
@media screen and (min-width: 1300px) {
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover {
  transform: scale(1.03);
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:active{
  transform: scale(0.97);
}
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a {
border-radius: 8px;
margin: 4px 0;
display: flex;
flex-direction: column;
align-content: space-between;
border: 1px solid #e3e8f7;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:first-child {
width: auto;
flex: inherit;
}
#aside-content .card-archives ul.card-archive-list {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}
/* 侧栏归档样式end */

/* 归档页 */
.layout.hide-aside{
max-width:1400px;
}

#archive,#tag,#category {
background: var(--june-card-bg);
padding: 25px 10px;
}

.article-sort-title{
margin-top:30px;
margin-bottom:20px;
}

.article-sort-item::before, .article-sort-title::before, .article-sort-title::after {
content: none;
}

.article-sort .year{
width:100%!important;
border-bottom:dashed 5px var(--june-theme);
font-size:26px;
margin-top:20px;
}

.article-sort{
border:none;
display:flex;
flex-wrap:wrap;
margin:20px 20px;
padding:0;
}

.article-sort-item:not(.year){
padding:8px 10px;
width:calc(50% - 0.8rem);
margin:0.4rem;
border:2px solid var(--june-theme);
border-radius:15px;
background:var(--card-bg);
transition:0.5s;
height:120px;
}

.article-sort-item-a{
position:absolute;
width:100%;
height:100%;
}

.article-sort-item-img{
transition:0.5s;
height:90px;
width:140px;
}

.article-sort-item > a >img{
border-radius:15px;
}

.article-sort-item-title {
font-size: 22px;
padding-left: 10px;
margin: 10px 0;
line-height:25px;
text-overflow:ellipsis;
}

.article-sort-item-title:hover{
transform:none;
}

.article-sort-meta{
height:max-content;
position:relative;
}

.article-sort-meta > .article-meta-wrap{
float:left;
}

.article-sort-meta > .article-sort-item-time{
float:right;
}

.article-sort-item-categories,.article-sort-item-tags{
margin:0 3px;
padding:5px 8px;
border-radius:25px;
border:1px solid var(--dark-grey);
font-size:12px;
transition:0.5s;
}

.article-sort-item-info > div:not(.article-sort-meta){
display:flex;
}

.article-sort-description,.article-sort-item > i{
width:0;
opacity:0;
overflow:hidden;
transition:0.5s;
}

.article-sort-description {
width: 0;
height: 59px;
vertical-align: middle;
margin: 5px 10px 0 15px;
text-overflow:ellipsis;
}

.article-sort-item:hover:not(.year){
background-color:var(--june-theme);
box-shadow: 0 0 10px var(--june-theme);
}

.article-sort-item:hover:not(.year){
background-color:var(--june-theme);
box-shadow: 0 0 10px var(--june-theme);
}

.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) > i{
width:auto;
opacity:1;
}

.article-sort-item:hover:not(.year) .article-sort-description{
width:auto;
}

.article-sort-item:hover:not(.year) .article-sort-item-img{
transition:0.5s;
width:0;
}

.article-sort-item:hover:not(.year) .article-sort-item-title{
color:var(--june-white)!important;
}

.article-sort-item:hover:not(.year) .article-meta-wrap a,.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) .article-sort-item-time{
color:var(--june-light-grey)!important;
}

.article-sort-item:hover:not(.year) .article-sort-item-categories{
border:1.5px solid #212F3C;
}

.article-sort-item:hover:not(.year) .article-sort-item-tags{
border:1.5px solid var(--june-blue);
}

.article-sort-item:hover:not(.year) .article-sort-item-categories:hover{
background: #49b0f5;
box-shadow:0 0 5px #212F3C;
}

.article-sort-item:hover:not(.year) .article-sort-item-tags:hover{
background: var(--june-blue);
box-shadow:0 0 5px var(--june-blue);
}

@media screen and (max-width:768px) {
.article-sort-item:not(.year) {
    width: 100%;
}

.article-sort-meta > .article-meta-wrap {
    display: none;
}

.article-sort-item-title {
    font-size: 16px;
}

.article-sort-item-img{
    width:90px;
}
}


/* 分类页面样式 */
#page .category-lists .category-list .category-list-item {
position: relative;
display: inline-block;
padding: 0 1rem;
width: 48%;
font-weight: 700;
margin: 0 0.5% 2% 0.5%;
border-radius: var(--border-radius);
-webkit-box-shadow: rgb(50 50 50 / 30%) 50px 50px 50px 50px inset;
box-shadow: rgb(50 50 50 / 30%) 50px 50px 50px 50px inset;
border-radius: 8px;
}

@media (max-width: 640px) {
#page .category-lists .category-list .category-list-item {
    width: 95%;
    border-radius: 8px;
    margin-top: 3px;
}
}

#page .category-lists .category-list .category-list-item::before {
display: none;
}

#page .category-lists .category-list .category-list-item .category-list-link {
color: #fff;
font-size: 1.5rem;
margin-left: 0.4rem;
}

#page .category-lists .category-list .category-list-item .category-list-link::after {
content: "";
position: relative;
width: 0;
bottom: 0;
display: block;
height: 3px;
border-radius: 3px;
background: #fff;
}

#page .category-lists .category-list .category-list-item .category-list-link:hover::after {
width: 60%;
left: 1%;
-webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-o-transition: all 0.6s;
-ms-transition: all 0.6s;
transition: all 0.6s;
}

#page .category-lists .category-list .category-list-item .category-list-count {
color: #fff;
font-size: 1.3rem;
}

#page .category-lists .category-list .category-list-item .category-list-count::before {
content: "\f02d";
padding-right: 15px;
font-family: "Font Awesome 6 Free";
}

/* #page .category-list-count::before, */
#page .category-list-count::after {
display: none;
}

#page .category-lists .category-list li.category-list-item a.category-list-link::before {
position: absolute;
font-size: 4rem;
line-height: 4rem;
top: 1rem;
right: 1rem;
border-radius: 8px;
transform: rotate(-15deg);
-ms-transform: rotate(-15deg);
-moz-transform: rotate(-15deg);
-webkit-transform: rotate(-15deg);
-o-transform: rotate(-15deg);
-webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-o-transition: all 0.6s;
-ms-transition: all 0.6s;
transition: all 0.6s;
}

#page .category-lists .category-list li.category-list-item a.category-list-link:hover::before {
opacity: 0.9;
transform: rotate(0);
-ms-transform: rotate(0);
-moz-transform: rotate(0);
-webkit-transform: rotate(0);
-o-transform: rotate(0);
}

/* 优秀文章 */
#page .category-lists .category-list li.category-list-item:nth-child(1) {
background: #4074f6;
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}


/* 博客总结 */
#page .category-lists .category-list li.category-list-item:nth-child(2) {
background: -webkit-linear-gradient(left, #ba52ed, #ff99fe);
background: -moz-linear-gradient(left, #ba52ed, #ff99fe);
background: -o-linear-gradient(left, #ba52ed, #ff99fe);
background: -ms-linear-gradient(left, #ba52ed, #ff99fe);
background: linear-gradient(to right, #ba52ed, #ff99fe);
}


/* 博客搭建 */
#page .category-lists .category-list li.category-list-item:nth-child(3) {
background: -webkit-linear-gradient(left, #6639a6, #3490de);
background: -moz-linear-gradient(left, #6639a6, #3490de);
background: -o-linear-gradient(left, #6639a6, #3490de);
background: -ms-linear-gradient(left, #6639a6, #3490de);
background: linear-gradient(to right, #6639a6, #3490de);
}

#page .category-lists .category-list li.category-list-item:nth-child(4) {
background: -webkit-linear-gradient(right, #38ef7d, #11998e);
background: -moz-linear-gradient(right, #38ef7d, #11998e);
background: -o-linear-gradient(right, #38ef7d, #11998e);
background: -ms-linear-gradient(right, #38ef7d, #11998e);
background: linear-gradient(to left, #38ef7d, #11998e);
}


/* 实用教程 */
#page .category-lists .category-list li.category-list-item:nth-child(5) {
background: -webkit-linear-gradient(left, #b91d73, #f953c6);
background: -moz-linear-gradient(left, #b91d73, #f953c6);
background: -o-linear-gradient(left, #b91d73, #f953c6);
background: -ms-linear-gradient(left, #b91d73, #f953c6);
background: linear-gradient(to right, #b91d73, #f953c6);
}


/* 敲敲代码 */
#page .category-lists .category-list li.category-list-item:nth-child(6) {
background: -webkit-linear-gradient(left, #f12711, #f5af19);
background: -moz-linear-gradient(left, #f12711, #f5af19);
background: -o-linear-gradient(left, #f12711, #f5af19);
background: -ms-linear-gradient(left, #f12711, #f5af19);
background: linear-gradient(to right, #f12711, #f5af19);
}

/* 生活杂谈 */
#page .category-lists .category-list li.category-list-item:nth-child(7) {
background: -webkit-linear-gradient(left, #009ad6, #1b315e);
background: -moz-linear-gradient(left, #009ad6, #1b315e);
background: -o-linear-gradient(left, #009ad6, #1b315e);
background: -ms-linear-gradient(left, #009ad6, #1b315e);
background: linear-gradient(to right, #009ad6, #1b315e);
}



/* 标签 */

#aside-content .card-tag-cloud a {
border: 1px solid;
line-height: 1.5;
border-radius: 6px;
margin: 3px;
padding: 0 5px;
}

.tag-cloud-list a {
border: 1px solid;
line-height: 1.5;
border-radius: 6px;
padding: 5px 15px;
font-size: 1.2rem;
margin: 5px;
}
#recent-posts>.recent-post-item {
position: relative;
}

/* 最新文章图标 */
.newPost-left,
.newPost-right {
position: absolute;
top: 0;
left: 0;
color: white;
padding: 0 15px;
background-color: #49b0f5;
border-radius: 5px 5px 5px 5px;
}


/* 置顶文章图标 */
.topPost-left,
.topPost-right {
position: absolute;
top: 0;
left: 0;
color: white;
padding: 0 15px;
background-color: #49b0f5;
border-radius: 5px 5px 5px 5px;
}
