@font-face {
    font-family: "iconfont"; /* Project id 4705831 */
    src: url('//at.alicdn.com/t/c/font_4705831_qwyhob6w6g.woff2?t=1728531515667') format('woff2'),
         url('//at.alicdn.com/t/c/font_4705831_qwyhob6w6g.woff?t=1728531515667') format('woff'),
         url('//at.alicdn.com/t/c/font_4705831_qwyhob6w6g.ttf?t=1728531515667') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-bilibili:before {
    content: "\eb78";
  }